
.nav-item .nav-link{
	color:white;
	margin-left:30px;
	

}
.navbar-brand{
	color:white;
	padding-left:9.5%;
}
.navbar-nav{
	padding-left:12%;
	padding-right:100px;
}
img{
	width:100%;
	height:auto;
}

.pop_images{
	width:50%;
	height:50%;
}

@media only screen and (max-width: 600px) {
	.big_screen{
		
		display:none;
	}
	.big_screen2{
		
		display:none;
	}
	.big_screen3{
		display:none;
	}
	.big_screen4{
		display:none;
	}
	
	iframe{
		width:100%;
	}
 }

 
 @media only screen and (min-width: 1024px) {
	h3{
		margin-left:70px;
	}
	.small-screen{
		display:none;
	}
	.small-screen2{
		display:none;
	}
	.small-screen3{
		display:none;
	}
	.small-screen4{
		display:none;
	}
 }
 @media only screen and (min-width: 700px) {
	
   .small-screen{
	   display:none;
   }
   .small-screen2{
	display:none;
   }
   .small-screen3{
	display: none;
   }
   .small-screen4{
	display:none;
   }
}
.small-screen{
	padding-top:4%;
}
.small-screen2{
	padding-top:4%;
}
.small-screen3{
	padding-top: 4%;
}
.big_screen3{
	padding-top:4%;
}

 h3{
	border-left:12px solid #54366d;
	text-align:left;
	padding-left:1%;
	margin-left:0%;
	margin-bottom: 10px;
 }
.scroll {
	width: auto;
	overflow-x: scroll;
	
	}

	.imagez{
	display:flex;
	
	}
	.scroll_image{
		padding-right:1%;
		width :70%;

	}
.img-logo{

	height: 60px;
}	

.div_anonymous{
	padding-top:4%;
	background-color:#e5cdf8;
	padding-bottom: 4%;
	width:80%;
	text-align:center;
	margin-left:100px;
	
}

.div_anonymous2{
	padding-top:4%;
	background-color:#e5cdf8;
	padding-bottom: 4%;
	width:100%;
	text-align:center;
	
}
.login_anonymous{
	text-decoration: none; 
}

.div_trailer{

	padding-top: 4%;
}
.div_trailers{
	
	padding-bottom: 4%;
	width:80%;
	
	
	margin-left:100px;
}

iframe{
	width:97%;
}

.font-icons{
padding:20px;
}

.social_links{
	text-decoration:none;
	color:white;
}

.form-control{
padding:4%;
}
#submit{
	margin-top:10px;
}

.td1 {
	text-align: left;
	width:60;
	

  }
  .td2 {
	text-align:center;
	width:10%;
	

  }
table{
	width:100%;
}

#category{
	color:black;
}